/* Paramètres généraux */

body 
{
    font-family: 'Raleway', Arial, sans-serif; 
    margin: 40px 40px 10px 40px;
}

p
{
    font-size: 0.8em;
    color: #828081;
    line-height: 0.3%;
}

h1
{
    font-size: 1em; 
}

h2
{
    font-size: 1em; 
}

h3
{
    font-size: 0.9em; 
}

a 
{
    text-decoration: none;
    color: black;
}

li 
{
   list-style: none;
   color: black;
}

.blue-star
{
    color:#0065FC;
}

.grey-star
{
    color: #DADADB;
}

.black-icon
{
    color:black;
}

/* Header */

header
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration
{
    font-weight: bold;
    color: #0065FC;
    padding-left: 50px;
}

#menu
{   
    display: flex;
    flex-direction: row;
}

.menu-border-top
{   
    display: inline;
    padding: 40px 30px 0px 30px;
    margin: 20px;
}

.menu-border-top:hover
{   
    border-top: 2px solid #0065FC;
}

#menu
{  
    margin: 0;
    padding: 0;
    text-align: right;
    flex-direction: row;
    justify-content: space-between;
    top: 1px;
}

.fonctions 
{
    padding: 30px 10px 0px 10px;
}

#menu a:hover
{
    color:#0065FC;
    font-weight: bold;
}

/* Section 1 : Recherche */

.barre-recherche
{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 0.9em;
}

.black-icon
{
    padding:15px 15px 14px 15px;
    background-color: #F2F2F2;
    border-radius: 1ex 0ex 0ex 1ex;
}

.ville
{
    padding: 0px 80px 0px 15px;
    border: 1px #F2F2F2 solid;
}

.rechercher
{
    padding:13px 15px 12px 15px;
    background-color: #0065FC;
    color: white;
    border-radius: 0ex 1ex 1ex 0ex;
    border: none;
    display: flex;
}

.text-search
{
    font-size: 1.1em;
    font-weight: bolder;
    color: white;
}

.text-search a
{
    color: white;
}

.magnifying-glass-icon
{ 
   visibility: collapse;
}

/* Section 2 : filtres */

.filtres
{
    display: flex;
    text-align: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.all-filtres
{
    display: flex;
    text-orientation: row;
}

.titre-filtres
{
    margin-right: 30px;
}

.blue-icon
{
    color:#0065FC;
    background: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    width: 20px;
    text-align: center;
    margin-left: -21px;
    margin-right: 12px;
}

.type-filtres
{
    border-color: #F2F2F2;
    border-style: solid ;
    border-width: 0.15em 0.15em 0.15em 0em;
    border-radius: 3ex;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
}

.type-filtres:hover
{
    background-color: #f3f8ff;
    font-weight: bold;
}

.information
{
    display: flex;
    text-align: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.petit-i
{
    color:#0065FC;
    border-color: #F2F2F2;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15em;
    padding: 0.1em 0.6em 0.2em 0.6em;
    margin: 0px 10px 0px 0px;
}


/* Section 3 : Accomodation */

.accomodation
{
    display:flex;
    justify-content: space-between;
}

#first-choices

{
    display:flex;
    flex-direction: column;
    width: 60%;
    background: #F2F2F2;
    margin: 30px 0px 30px 0px;
    padding: 30px 30px 30px 30px;
    border-radius: 1.5ex;
}

#conteneur-proposition

{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.texte-first-choices
{
    width: 100%;
}

.content-second-choices
{
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.proposal
{
    display: flex;
    flex-wrap: wrap;
    background: white;
    height: 160px;
    min-width: 30%;
    max-width: 50%;
    border-radius: 2ex;
    box-shadow: 3px 3px 20px #dbdbdb;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.proposal a
{
    width: 100%;
}

.text-proposal 
{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-proposal-a
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-b
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-c
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-d
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-e
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-f
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#second-choices

{
    display:flex;
    flex-direction: column;
    width: 30%;
    background: #F2F2F2;
    margin: 30px 0px 30px 0px;
    padding: 10px;
    border-radius: 1.5ex;
}

#header-second-choices
{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.popular
{
    display: flex;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 13px;
    padding: 5px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 120px;
}

.popular a
{
    width: 100%;
}

.text-popular 
{
    display:flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    width: 60%;
    justify-content: space-between;
}

.img-popular-a
{
    width: 30%;
    border-radius: 2ex 0 0 2ex;
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-popular-b
{
    width: 30%;
    border-radius: 2ex 0 0 2ex;
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-popular-c
{
    width: 30%;
    border-radius: 2ex 0 0 2ex;
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

/* Section 4 : Activities */

.conteneur-activities
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -35px;
}

.column 
{
   width: 22%;
   padding-right: 40px;
   height: 500px;
}

.column-3 
{
   width: 22%;
   padding-right: 40px;
   height: 500px;
}

.text-activity
{
    padding: 1px 10px 1px 10px;
}

.activity-first-column
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 420px;
    width: 100%;
}

.second-column 
{
   display:flex;
   flex-direction: column;
}

.activity-second-column-a
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 245px;
    width: 100%;
}

.activity-second-column-b
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 160px;
    width: 100%;
}

.activity-third-column
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 420px;
    width: 100%;
}

.activity-fourth-column 
{
   display:flex;
   flex-direction: column;
}

.activity-fourth-column-a
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 210px;
    width: 100%;
}

.activity-fourth-column-b
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 195px;
    width: 100%;
}

.img-activity-a
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 370px;
}

.img-activity-b
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 90%;
}


.img-activity-b-bis
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 90%;
}

.img-activity-c
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 370px;
}

.img-activity-d
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 165px;
}

.img-activity-d-bis
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
}

/* Footer */


footer
{
    background-color: #F2F2F2;
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px 40px 0px 40px;
}

#footer-container 
{
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.footer-coloumn
{
    width: 33%;
}

ol 
{
    padding-inline-start: 0;
    font-size: 0.9em;
}

li
{
    margin-top: 15px;
}

.text-conditions
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
}

.text-conditions
{
    margin-bottom: 1rem;
}

/* Media queries tablette */

@media all and (max-width: 768px)
{
    body 
    { 
    margin: 20px 20px 5px 20px; 
    }
}

@media all and (max-width: 768px)
{
    body 
    { 
    width: 84%;
    }
}

@media all and (max-width: 768px)
{
    p
    {
    font-size: 0.7em;
    }
}
    
   
@media all and (max-width: 768px)
{
    h1
    {
    font-size: 1em; 
    }
}

@media all and (max-width: 768px)
{
    h2 
    {
    font-size: 1em;
    }
}
    
@media all and (max-width: 768px)
{
    h3
    {
    font-size: 0.8em;
    }
}

@media all and (max-width: 768px)
{
    .registration
    {
        display:flex;
        align-items: flex-end;
    }
}

@media all and (max-width: 768px)
{
	.fonctions 
    {
    padding: 10px 10px 0px 10px;
    }
}

@media all and (max-width: 768px)
{  
    header
    {
    width: 695px;
    }
}

@media all and (max-width: 768px)
{  
    .all-filtres
    {
        display: flex;
        flex-direction: row;
    }
}

@media all and (max-width: 768px)
{  
    #description
    {
        display: flex;
        flex-direction: column;
        width: 700px;
    }
}

@media all and (max-width: 768px)
{  
    .filtres
    {
    font-size: 0.7em;
    align-content: left;
    margin-left: 20px;
    }
}

@media all and (max-width: 768px)
{  
    .type-filtres a
    {
       display: flex;
       align-items: center;
       flex-wrap: nowrap;
       padding-right: 5px;
    }
}

@media all and (max-width: 768px)
{  
    .ville
    {
        padding: 0px 70px 0px 15px;
        border: 1px #F2F2F2 solid;
    }
}

@media all and (max-width: 768px)
{  
    .black-icon
    {
        padding: 15px;
    }
}

@media all and (max-width: 768px)
{  
    .rechercher
    {
        padding: 13px;
    }
}


@media all and (max-width: 768px)
{  
    .blue-icon
    {
        width: 15px;
        height: 15px;
        margin-left: -12px;
    }
}

@media all and (max-width: 768px)
{  
    .titre-filtres
    {
        margin-right: 10px;
    }
}

@media all and (max-width: 768px)
{  

    .type-filtres
    {
        display: flex;
        flex-direction: row;
        border-color: #F2F2F2;
        border-style: solid ;
        border-width: 0.15em 0.15em 0.15em 0em;
        border-radius: 3ex;
        padding-right: 10px;
        padding-left: 10px;
        margin: 10px;
    }
}

@media all and (max-width: 768px)
{  

    .accomodation
    {
       display:flex;
       flex-direction: column-reverse;
    }
}

@media all and (max-width: 768px)

{  
   #second-choices
    {
        width: 700px;
    }
}

@media all and (max-width: 768px)
{  
   .content-second-choices
    {
        display: flex;
        flex-direction: row;
    }
}

@media all and (max-width: 768px)
{  
   .popular
    {
        margin: 20px;
        width: 300px;
    }
}

@media all and (max-width: 768px)
{  
   .img-popular-a
    {
        width: 60%;
    }
}

@media all and (max-width: 768px)
{  
   .img-popular-b
    {
        width: 60%;
    }
}

@media all and (max-width: 768px)
{  
   .img-popular-c
    {
        width: 60%;
    }
}

@media all and (max-width: 768px)
{  
    #first-choices
     {
         width: 700px;
         background: white;
     }
}
 
 @media all and (max-width: 768px)
{  
   .proposal
    {
        margin: 20px;
        margin-left: 0px;
        width: 300px;
    }
}

@media all and (max-width: 768px)
{  
    #activities
     {
         width: 700px;
         margin: 20px;
     }
 }

@media all and (max-width: 768px)
{  
    .conteneur-activities
    {
        display: flex;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 768px)
{  
    .column
    {
        width: 325px;
        margin-bottom: -50px;
    }
}

 @media all and (max-width: 768px)
{  
    .column-3
    {
        width: 325px;
        order: 4;
        margin-bottom: -50px;
    }
 }

 @media all and (max-width: 768px)
 {  
    footer
    {
    width: 768px;
    padding: 40px 40px 0px 60px;
    }
}

/* Media queries phone */

@media all and (max-width: 425px)
{
    body 
    { 
        width: 410px;
    }
}

@media all and (max-width: 425px)
{
    .header
    {
        display: flex;
        width: 400px;
    }
}

@media all and (max-width: 425px)
{
    #menu
    {
        width: 30%;
        display:flex;
        flex-flow: row wrap;
    }
}

@media all and (max-width: 425px)
{
    .navigation
    {   
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 425px)
{
    .registration
    {   
       order: -1;
    }
}

@media all and (max-width: 425px)
{
    h1
    {
        font-size: 1.6em; 
        width: 350px;
    }
}

@media all and (max-width: 425px)
{
    p
    {
        font-size: 1.1em; 
        width: 400px;
        padding-top: 3px;
    }
}

@media all and (max-width: 425px)
{
    .barre-recherche
    { 
        margin-top: 40px;
        width: 400px;
        font-size: 1.2em;
        border: 1px #F2F2F2 solid;
        border-radius: 1.3ex;
        display: flex;
        justify-content: space-between;
    }
}

@media all and (max-width: 425px)
{
    .ville
    { 
        margin-left: -10px;
        padding-left: -10px;
        font-size: 0.8em;
    }
}

@media all and (max-width: 425px)
{
    .black-icon
    { 
        padding: 19px;
        font-size: 1.3em;
        border-radius: 0.8ex 0ex 0ex 0.8ex;
    }
}

@media all and (max-width: 425px)
{
    .rechercher
    { 
        border-radius: 1.3ex;
        padding: 22px;
    }
}

@media all and (max-width: 425px)
{
    .ville
    { 
        border: none
    }
}
@media all and (max-width: 425px)
{
    .magnifying-glass-icon
    { 
    visibility: visible;
    margin-left: -80px;
    font-size: 1.2em;
    }
}

@media all and (max-width: 425px)
{
    .text-search
    { 
    display: flex;
    visibility: collapse;
    }
}

@media all and (max-width: 425px)
{  
    .titre-filtres
    {
        font-size: 1.2em;
    }
}

@media all and (max-width: 425px)
{  
    .filtres
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 300px;
        padding: 0px;
        align-items: normal;
        font-size: 1.2em;
        margin: 0px;
    }
}

@media all and (max-width: 425px)
{  
    .blue-icon
    {
        padding: 16px;
        align-items: center;
    }
}

@media all and (max-width: 425px)
{  
    .all-filtres
    {
        display: flex;
        flex-flow: row wrap;
        padding: 0px;
        margin: 0px;
        width: 400px;
        margin-left: -10px;
    }
}

@media all and (max-width: 425px)
{  
    .information
    {
        white-space: normal;
        height: 30px;
        margin-top: 20px;
    }
}

@media all and (max-width: 425px)
{  
    .contenu-info
    {
        font-size: 0.8em;
        width: 350px;
        white-space: pre;
    }
}

@media all and (max-width: 425px)
{  
    #second-choices
     {
         width: 415px;
         border-radius: 0ex;
         margin-left: -20px;
     }
 }

 @media all and (max-width: 425px)
{  
    #header-second-choices
     {
        padding-bottom: 0px;
     }
 }

 @media all and (max-width: 425px)
{  
    .popular
     {
        width: 365px;
        font-size: 0.9em;
     }
 }

@media all and (max-width: 425px)
{  
    h2
     {
        font-size: 1.3em;
     }
 }

@media all and (max-width: 425px)
{  
    .symbole-second-choices
     {
        font-size: 1.4em;
     }
}

@media all and (max-width: 425px)
{  
    .content-second-choices
     {
        display: flex;
        flex-direction: row;
     }
}

@media all and (max-width: 425px)
{  
    #first-choices
    {
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
    }
}

@media all and (max-width: 425px)
{  
    .proposal
    {
        width: 365px;
        height: 200px;
        font-size: 0.9em;
    }
}   

@media all and (max-width: 425px)
{  
    .text-proposal
    {
        padding-left: 10px;
    }
}   

@media all and (max-width: 425px)
{  
    h3
    {
        font-size: 1.2em;
        margin: Opx;
        margin-block-end: 0em;
        margin-block-start: 0.3em;
    }
}

@media all and (max-width: 425px)
{  
    #activities
    {
        margin-top: 100px;
        margin-left: 10px;
        display: flex;
        flex-direction: column; 
    }
}

@media all and (max-width: 425px)
{  
    .conteneur-activities
    {
        height: 1700px;
    }
}

@media all and (max-width: 425px)
{  
    .activity
    {
        width: 365px;
        height: 200px;
        margin: 0px;
    }
}

@media all and (max-width: 425px)
{  
    .activity-second-column-a
    {
        width: 365px;
        height: 200px;
        margin-top: -170px;
    }
}

@media all and (max-width: 425px)
{  
    .activity-second-column-b
    {
        width: 365px;
        height: 200px;
    }
}

@media all and (max-width: 425px)
{  
    .activity-third-column
    {
        width: 365px;
        height: 200px;
        margin-top: -110px;
    }
}

@media all and (max-width: 425px)
{  
    .activity-fourth-column-a
    {
        width: 365px;
        height: 200px;
        margin-top: -130px;
    }
}

@media all and (max-width: 425px)
{  
    .activity-fourth-column-b
    {
        width: 365px;
        height: 200px;
    }
}

@media all and (max-width: 425px)
{  
    .column
    {
        width: 365px;
        height: auto;
        display: flex;
        flex-flow: column;
        padding-bottom: 20px;
        height: 200px;
    }
}

@media all and (max-width: 425px)
{  
    .column-3
    {
        width: 365px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 200px;
    }
}

@media all and (max-width: 425px)
{  
    .img-activity-a
    {
        height: 150px;
    }
}

@media all and (max-width: 425px)
{  
    .img-activity-b
    {
        height: 150px;
    }
}

@media all and (max-width: 425px)
{  
    .img-activity-b-bis
    {
        height: 150px;
    }
}

@media all and (max-width: 425px)
{  
    .img-activity-c
    {
        height: 150px;
    }
}

@media all and (max-width: 425px)
{  
    .img-activity-d
    {
        height: 150px;
    }
}

@media all and (max-width: 425px)
{  
    .img-activity-d-bis
    {
        height: 150px;
    }
}

@media all and (max-width: 425px)
{  
    .activity-first-column
    {
        height: 200px;
    }
}

@media all and (max-width: 425px)
{  
   #footer-container
   {
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
   }
}

@media all and (max-width: 425px)
{  
   .footer-coloumn
   {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 400px;
        font-size: 1.2em;
   }
}