/* Paramètres généraux */

body 
{
    font-family: 'Raleway', Arial, sans-serif; 
    margin: 40px 40px 10px 40px;
}

p
{
    font-size: 0.8em;
    color: #828081;
    line-height: 0.3%;
}

h1
{
    font-size: 1em; 
}

h2
{
    font-size: 1em; 
}

a 
{
    text-decoration: none;
    color: black;
}

li 
{
   list-style: none;
   color: black;
}

.blue-star
{
    color:#0065FC;
}

.grey-star
{
    color:#F2F2F2;
}

.black-icon
{
    color:black;
}

/* Header */

header
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration
{
    font-weight: bold;
    color: #0065FC;
}

#menu li
{   
    display: inline;
    padding: 40px;
}

#menu li:hover
{   
    border-top: 2px solid #0065FC;
}

#menu
{  
    margin: 0;
    padding: 0;
    text-align: right;
    flex-direction: row;
    justify-content: space-between;
    top: 1px;
}

#fonctions 
{
    padding: 30px 10px 0px 10px;
}

#fonctions a:hover
{
    color:#0065FC;
    font-weight: bold;
}

/* Section 1 : Recherche */

.barre-recherche
{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px 0px 0px;
    font-size: 0.9em;
}

.black-icon
{
    padding:10px;
    background-color: #F2F2F2;
    border-radius: 1ex 0ex 0ex 1ex;
}

.ville
{
    padding: 0px 90px 0px 10px;
    border: 1px #F2F2F2 solid;
}

.rechercher
{
    padding:10px 15px 10px 15px;
    background-color: #0065FC;
    color: white;
    border-radius: 0ex 1ex 1ex 0ex;
    border: 1px #F2F2F2 solid;
}

.rechercher a 
{ 
    color: white;
    font-weight: bolder;
}


/* Section 2 : filtres */

#filtres
{
    display: flex;
    text-align: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.titre-filtres
{
    padding: 30px;
}

.blue-icon
{
    color:#0065FC;
    background: #DEEBFF;
    padding: 10px;
    border-radius: 3ex;
}

.type-filtres
{
    border-color: #F2F2F2;
    border-style: solid solid solid none;
    border-width: 0.15em 0.15em 0.15em 0em;
    border-radius: 0ex 3ex 3ex 0ex;
    padding: 1px 10px 0px 10px;
    margin: 0px 10px 0px 0px;
}

.nom-filtre
{
    border-color: #F2F2F2;
    border-style: solid solid solid none;
    border-width: 0.15em 0.15em 0.15em 0em;
    border-radius: 0ex 3ex 3ex 0ex;
    padding: 8px 10px 8px 20px;
    margin: 0px 10px 0px 0px;
}

#information
{
    display: flex;
    text-align: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.petit-i
{
    color:#0065FC;
    border-color: #F2F2F2;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15em;
    padding: 0.1em 0.6em 0.2em 0.6em;
    margin: 0px 10px 0px 0px;
}

/* Section 3 : Accomodation */

#accomodation
{
    display:flex;
    justify-content: space-between;
}

#first-choices

{
    display:flex;
    flex-direction: column;
    width: 60%;
    background: #F2F2F2;
    margin: 30px 0px 30px 0px;
    padding: 30px 30px 30px 30px;
    border-radius: 1.5ex;
}

#conteneur-proposition

{
    display:flex;
    flex-wrap: wrap;
}

#texte-first-choices
{
    padding: 0px 0px 0px 13px;
}
.proposal
{
    display:flex;
    flex-direction: row;
    background: white;
    border-color: white;
    height: 180px;
    width: 25%;
    border-radius: 2ex;
    margin: 13px;
}

.img-proposal
{
    border-radius: 4ex 4ex 0ex 0ex;
    margin: 2px;
    border: 1px;
    width: 100%; 
    height: auto;
}

#second-choices

{
    display:flex;
    flex-direction: column;
    border-radius: 1.5ex;
    margin: 30px 0px 30px 0px;
    padding: 30px;
    background: red; /* Couleur à mettre :  #F2F2F2 */
}

#header-second-choices
{
    display:flex;
    justify-content: space-between;
}

.popular
{
    display:flex;
    flex-direction: row;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 13px;
}

/* Footer */

/* Media queries */
