/* Paramètres généraux */

body 
{
    font-family: 'Raleway', Arial, sans-serif; 
    margin: 40px 40px 10px 40px;
}

p
{
    font-size: 0.8em;
    color: #828081;
    line-height: 0.3%;
}

h1
{
    font-size: 1em; 
}

h2
{
    font-size: 1em; 
}

h3
{
    font-size: 0.9em; 
}

a 
{
    text-decoration: none;
    color: black;
}

li 
{
   list-style: none;
   color: black;
}

.blue-star
{
    color:#0065FC;
}

.grey-star
{
    color: #DADADB;
}

.black-icon
{
    color:black;
}

/* Header */

header
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration
{
    font-weight: bold;
    color: #0065FC;
    padding-left: 50px;
}

#menu
{   
    display: flex;
    flex-direction: row;
}

.menu-border-top
{   
    display: inline;
    padding: 40px 30px 0px 30px;
    margin: 20px;
}

.menu-border-top:hover
{   
    border-top: 2px solid #0065FC;
}

#menu
{  
    margin: 0;
    padding: 0;
    text-align: right;
    flex-direction: row;
    justify-content: space-between;
    top: 1px;
}

.fonctions 
{
    padding: 30px 10px 0px 10px;
}

#menu a:hover
{
    color:#0065FC;
    font-weight: bold;
}

/* Section 1 : Recherche */

.barre-recherche
{
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 0.9em;
}

.black-icon
{
    padding:15px 15px 14px 15px;
    background-color: #F2F2F2;
    border-radius: 1ex 0ex 0ex 1ex;
}

.ville
{
    padding: 0px 80px 0px 15px;
    border: 1px #F2F2F2 solid;
}

.rechercher
{
    padding:13px 15px 12px 15px;
    background-color: #0065FC;
    color: white;
    border-radius: 0ex 1ex 1ex 0ex;
    border: 1px #F2F2F2 solid;
}

.rechercher a 
{ 
    color: white;
    font-weight: bolder;
}

.rechercher a:hover
{ 
    color: #0065FC;
    font-weight: bolder;
    background-color: #DEEBFF;
    padding: 13px 15px 12px 15px;
    border-radius: 0ex 1ex 1ex 0ex;
    margin: -15px;
    border: 1px solid #DEEBFF;
}

/* Section 2 : filtres */

.filtres
{
    display: flex;
    text-align: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}

.all-filtres
{
    display: flex;
    text-orientation: row;
}

.titre-filtres
{
    margin-right: 30px;
}

.blue-icon
{
    color:#0065FC;
    background: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    width: 20px;
    text-align: center;
    margin-left: -21px;
    margin-right: 12px;
}

.type-filtres
{
    border-color: #F2F2F2;
    border-style: solid ;
    border-width: 0.15em 0.15em 0.15em 0em;
    border-radius: 3ex;
    padding-right: 20px;
    padding-left: 20px;
    margin: 10px;
}

.type-filtres:hover
{
    background-color: #f3f8ff;
    font-weight: bold;
}

.information
{
    display: flex;
    text-align: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
}

.petit-i
{
    color:#0065FC;
    border-color: #F2F2F2;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15em;
    padding: 0.1em 0.6em 0.2em 0.6em;
    margin: 0px 10px 0px 0px;
}


/* Section 3 : Accomodation */

.accomodation
{
    display:flex;
    justify-content: space-between;
}

#first-choices

{
    display:flex;
    flex-direction: column;
    width: 60%;
    background: #F2F2F2;
    margin: 30px 0px 30px 0px;
    padding: 30px 30px 30px 30px;
    border-radius: 1.5ex;
}

#conteneur-proposition

{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.texte-first-choices
{
    width: 100%;
}

.content-second-choices
{
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.proposal
{
    display: flex;
    flex-wrap: wrap;
    background: white;
    height: 160px;
    min-width: 30%;
    max-width: 50%;
    border-radius: 2ex;
    box-shadow: 3px 3px 20px #dbdbdb;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.proposal a
{
    width: 100%;
}

.text-proposal 
{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-proposal-a
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-b
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-c
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-d
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-e
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-proposal-f
{
    width: 100%;
    height: 55%;
    border-radius: 2ex 2ex 0 0;
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#second-choices

{
    display:flex;
    flex-direction: column;
    width: 30%;
    background: #F2F2F2;
    margin: 30px 0px 30px 0px;
    padding: 10px;
    border-radius: 1.5ex;
}

#header-second-choices
{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.popular
{
    display: flex;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 13px;
    padding: 5px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 120px;
}

.popular a
{
    width: 100%;
}

.text-popular 
{
    display:flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    width: 60%;
    justify-content: space-between;
}

.img-popular-a
{
    width: 30%;
    border-radius: 2ex 0 0 2ex;
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-popular-b
{
    width: 30%;
    border-radius: 2ex 0 0 2ex;
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.img-popular-c
{
    width: 30%;
    border-radius: 2ex 0 0 2ex;
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

/* Section 4 : Activities */

.conteneur-activities
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -35px;
}

.column 
{
   width: 22%;
   padding-right: 40px;
   height: 500px;
}

.text-activity
{
    padding: 1px 10px 1px 10px;
}

.activity-first-column
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 420px;
    width: 100%;
}

.second-column 
{
   display:flex;
   flex-direction: column;
}

.activity-second-column-a
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 245px;
    width: 100%;
}

.activity-second-column-b
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 160px;
    width: 100%;
}

.activity-third-column
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 420px;
    width: 100%;
}

.activity-fourth-column 
{
   display:flex;
   flex-direction: column;
}

.activity-fourth-column-a
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 210px;
    width: 100%;
}

.activity-fourth-column-b
{
    display: flex;
    flex-direction: column;
    background: white;
    border-color: white;
    border-radius: 2ex;
    margin: 15px;
    box-shadow: 3px 3px 20px #dbdbdb;
    height: 195px;
    width: 100%;
}

.img-activity-a
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 370px;
}

.img-activity-b
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 90%;
}


.img-activity-b-bis
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 90%;
}

.img-activity-c
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 370px;
}

.img-activity-d
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 165px;
}

.img-activity-d-bis
{
    border-radius: 2ex 2ex 0 0 ;
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
}

/* Footer */


footer
{
    background-color: #F2F2F2;
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px 40px 0px 40px;
}

#footer-container 
{
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.footer-coloumn
{
    width: 33%;
}

ol 
{
    padding-inline-start: 0;
    font-size: 0.9em;
}

li
{
    margin-top: 15px;
}

.text-conditions
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
}

.text-conditions
{
    margin-bottom: 1rem;
}

/* Media queries */

@media all and (max-width: 768px)
{
    body 
    { 
    margin: 20px 20px 5px 20px;
    }
}

@media all and (max-width: 768px)
{
    body 
    { 
    width: 84%;
    }
}

@media all and (max-width: 768px)
{
    p
    {
    font-size: 0.7em;
    }
}
    
   
@media all and (max-width: 768px)
{
    h1
    {
    font-size: 1em; 
    }
}

@media all and (max-width: 768px)
{
    h2 
    {
    font-size: 1em;
    }
}
    
@media all and (max-width: 768px)
{
    h3
    {
    font-size: 0.8em;
    }
}

@media all and (max-width: 768px)
{
    .registration
    {
        display:flex;
        align-items: flex-end;
    }
}

@media all and (max-width: 768px)
{
	.fonctions 
    {
    padding: 10px 10px 0px 10px;
    }
}

@media all and (max-width: 768px)
{  
    header
    {
    width: 695px;
    }
}

@media all and (max-width: 768px)
{  
    .all-filtres
    {
        display: flex;
        flex-direction: row;
    }
}

@media all and (max-width: 768px)
{  
    #description
    {
        display: flex;
        flex-direction: column;
        width: 700px;
    }
}

@media all and (max-width: 768px)
{  
    .filtres
    {
    font-size: 0.7em;
    align-content: left;
    margin-left: 20px;
    }
}

@media all and (max-width: 768px)
{  
    .type-filtres a
    {
       display: flex;
       align-items: center;
       flex-wrap: nowrap;
       padding-right: 5px;
    }
}

@media all and (max-width: 768px)
{  
    .ville
    {
        padding: 0px 70px 0px 15px;
        border: 1px #F2F2F2 solid;
    }
}

@media all and (max-width: 768px)
{  
    .black-icon
    {
        padding: 15px;
    }
}

@media all and (max-width: 768px)
{  
    .rechercher
    {
        padding: 13px;
    }
}


@media all and (max-width: 768px)
{  
    .blue-icon
    {
        width: 15px;
        height: 15px;
        margin-left: -12px;
    }
}

@media all and (max-width: 768px)
{  
    .titre-filtres
    {
        margin-right: 10px;
    }
}

@media all and (max-width: 768px)
{  

    .type-filtres
    {
        display: flex;
        flex-direction: row;
        border-color: #F2F2F2;
        border-style: solid ;
        border-width: 0.15em 0.15em 0.15em 0em;
        border-radius: 3ex;
        padding-right: 10px;
        padding-left: 10px;
        margin: 10px;
    }
}

@media all and (max-width: 768px)
{  

    .accomodation
    {
       display:flex;
       flex-direction: column-reverse;
    }
}

@media all and (max-width: 768px)

{  
   #second-choices
    {
        width: 700px;
    }
}

@media all and (max-width: 768px)
{  
   .content-second-choices
    {
        display: flex;
        flex-direction: row;
    }
}

@media all and (max-width: 768px)
{  
   .popular
    {
        margin: 20px;
        width: 300px;
    }
}

@media all and (max-width: 768px)
{  
   .img-popular-a
    {
        width: 60%;
    }
}

@media all and (max-width: 768px)
{  
   .img-popular-b
    {
        width: 60%;
    }
}

@media all and (max-width: 768px)
{  
   .img-popular-c
    {
        width: 60%;
    }
}

@media all and (max-width: 768px)
{  
    #first-choices
     {
         width: 700px;
         background: white;
     }
 }
 
 @media all and (max-width: 768px)
{  
   .proposal
    {
        margin: 20px;
        margin-left: 0px;
        width: 300px;
    }
}

@media all and (max-width: 768px)
{  
    #activities
     {
         width: 700px;
         margin: 20px;
     }
 }

 @media all and (max-width: 768px)
 {  
    .conteneur-activities
    {
        display: flex;
        flex-wrap: wrap;
    }
  }

  @media all and (max-width: 768px)
  {  
      .column
       {
           width: 325px;
           margin-bottom: -50px;
       }
   }

 @media all and (max-width: 768px)
{  
    .column-3
     {
         width: 325px;
         order: 4;
     }
 }

 @media all and (max-width: 768px)
 {  
    footer
    {
    width: 768px;
    padding: 40px 40px 0px 60px;
    }
}